<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" th:href="@{alterar/style.css}">
</head>
<body>
    <main>
    <ul>
        <li class="fotoPerfil">
            <img th:src="@{default.png}" alt="" width="128" height="128">
            <form class="listaBotoes">
                    <label class="uploadImagem">
                        <input type="file" name="imagem" accept="image/jpeg, image/png, image/jpg">
                        <p>Enviar imagem</p>
                    </label> 
                    <button class="botoes">Remover</button>
            </form>
        </li>
    </ul>

    <form class="input" method="post" action="/salvar"  enctype="multipart/form-data">
        <label >Digite seu nome : </label>
        <input type="text" name="nome" placeholder=""></input>
        <label >Digite sua idade : </label>
        <input type="number" name="idade" min="0" max="120"></input>
        <label >Digite seu endereço : </label>
        <input type="text" name="endereco"></input>
        <label >Digite sua biografia : </label>
        <input type="text" name="biografia"></input>
        <div class="listaBotoes">
            <button class="botoes" type="submit">Salvar</button>
        </div>
    </form>
    </main>
</body>
</html>