<!DOCTYPE html>
<html lang="PT-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" th:href="@{style.css}">
</head>
<body>
    <main>
    <ul>
        <li class="fotoPerfil">
            <img th:src="@{default.png}" alt="" width="128" height="128">
        </li>
    </ul>
    <div class="retornos">
        <p id="nome"></p>
        <p id="idade"></p>
        <p id="endereco"></p>
        <p id="biografia"></p>
    </div>
        <div class="listaBotoes">
            <a th:href="@{/alterar}" class="botoes">Alterar</a>
        </div>
    </main>
    <script>


        function BuscarNome (){
            fetch('/usuario/retornarNome')
            .then(res => res.text())
            .then(nomeUsuario => {
                document.getElementById('nome').innerText = nomeUsuario;
            })
        }
        function BuscarIdade (){
            fetch('/usuario/retornarIdade')
            .then(res => res.text())
            .then(idadeUsuario => {
                document.getElementById('idade').innerText = idadeUsuario;
            })
        }
        function BuscarEndereco (){
            fetch('/usuario/retornarEndereco')
            .then(res => res.text())
            .then(enderecoUsuario => {
                document.getElementById('endereco').innerText = enderecoUsuario;
            })
        }
        function BuscarBio (){
            fetch('/usuario/retornarBiografia')
            .then(res => res.text())
            .then(biografiaUsuario => {
                document.getElementById('biografia').innerText = biografiaUsuario;
            })
        }
        function buscar(){
            BuscarNome()
            BuscarIdade()
            BuscarEndereco()
            BuscarBio()
        }
        
        buscar()
    </script>


</body>
</html>