<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <main>
    <ul>
        <li class="fotoPerfil">
            <img src="../resources/usuario.png" alt="" width="128" height="128">
            <div class="listaBotoes">
                    <input type="file" accept="image/jpeg, image/png, image/jpg">
                    <button type="submit" class="botoes">Enviar</button>
                    <button class="botoes">Remover</button>
            </div>
        </li>
    </ul>
    <div class="input">
        <label for="">Digite seu nome</label>
        <input type="text"></input>
        <label for="">Digite sua idade</label>
        <input type="text"></input>
        <label for="">Digite seu Endereço</label>
        <input type="text"></input>
        <label for="">Digite sua Biografia</label>
        <input type="text"></input>
    </div>
        <div class="listaBotoes">
            <button href="" class="botoes">Alterar</button>
        </div>
    </main>

</body>
</html>